

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.small {
  font-size: 11px;

  color: rgba(0, 0, 0, 0.4);
  display: block;
  margin-top: -10px;
}

.cont {
  text-align: center;
}

.page-head {
  padding: 60px 0;
  text-align: center;
}

.page-head .lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 50px;
  margin-top: 0;
}



.caldera-gallery>ul {
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  height: 100vh
}

.caldera-gallery>ul>li {
  margin-bottom: 15px;
  /* width: 180px;  <-- Default size if all pages displayed */
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.caldera-gallery > ul > li:nth-of-type(n + 2) {
  display: none;
  width: 100%;
}

.caldera-gallery > ul > li:nth-of-type(1) > p,
.caldera-gallery > ul > li:nth-of-type(1) > img,
.caldera-gallery > ul > li:nth-of-type(1) > .caldera-brochure-download-link {
  clear: both;
}

.caldera-gallery > ul > li:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}



.caldera-gallery > ul > li:nth-of-type(1) > p {
  text-align: left;
  font-family: museosans-300, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0 5px 0 5px;
  color: rgba(0, 0, 0, 0.9);
}

.caldera-gallery > ul > li:nth-of-type(1) a.caldera-brochure-download-link  {
  padding: 0;
  margin: 0 5px 0 0;
  float: right;
  text-decoration: none;
  font-family: museosans-300, sans-serif;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.9);
  
  }
  
  .caldera-gallery > ul > li:nth-of-type(1) a.caldera-brochure-download-link:after{
  content: "\e0f2";
  font-family: lg;
  font-size: 0.8em;
  position: relative;
  left: 2px;
  bottom: 4px;
  }

.caldera-gallery > ul > li a {
  padding: 0px;
  border-radius: 0px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;

}

.caldera-gallery>ul>li a>img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.caldera-gallery>ul>li a:hover>img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.caldera-gallery>ul>li a:hover .caldera-gallery-poster>img {
  opacity: 1;
}

.caldera-gallery>ul>li a .caldera-gallery-poster {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
